html {
    box-sizing: border-box;
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    justify-content: center;
    height: inherit;
    background-color: rgba(0, 109, 109, 0.81);
}

.calBox{
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    height: auto;
    width: 35%;
}

.screan {
    background-color: rgba(255, 255, 255, 01);
    border-radius: 10px;
    height: auto;
    width: auto;
    text-align: right;
    font-size: 2em;
    margin: 0 11%;
    margin-top: 8%;
}

p {
    margin: 5%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10%;
}

input {
    flex-basis: 20%;
    margin: 1%;
    border-radius: 25%;
    font-family: inherit;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.15);
}

#btnDel, #btnSum, #btnRes, #btnDiv, #btnMul {
    background-color: rgba(8, 0, 255, 0.2);
    border: 2px solid rgba(8, 0, 255, 0.1);
}

#btnDelAll {
    flex-basis: 50%;
    border-radius: 10%;
}
#btn0 {
    flex-basis: 50%;
    border-radius: 10%;
}